<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Brown Stone  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100928

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{{ SITENAME }}{%endblock%}</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
<link href="/theme/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
{% if FEED_RSS %}
<link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}

</head>
<body>
<div id="wrapper">
	<div id="page" class="rounded">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				{% block content %}
        {% endblock %}
				<div id="logo">
					<h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
					{% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}</p>{% endif %}
				</div>
				<div id="sidebar" class="rounded">
					{% if author_libravatar  %}
					<div align="center" style="height: 160px;">
						<img style="margin-top: 1%;" class="rounded" src="{{ author_libravatar }}">
					</div>
					{% endif %}
					<div id="menu">
						<ul>
							<li {% if output_file == "index.html" %}class="current_page_item"{% endif %}><a href="{{ SITEURL }}/">Home</a></li>
							<li {% if output_file == "archives.html" %}class="current_page_item"{% endif %}><a href="{{ SITEURL }}/archives.html">Archives </a></li>

							
							{% if DISPLAY_PAGES_ON_MENU %}
                {% for page in pages %}
                  <li {% if page.title in output_file %}class="current_page_item"{% endif %}><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
              {% endif %}
						</ul>
					</div>
					<ul>
						<li>
							<div class="dropdown" style="margin-left: 20px;">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Catégories
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									{% for cat, null in categories %}
                    <a {% if cat == category %}class="active dropdown-item"{% else %}class="dropdown-item"{% endif %} href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
									{% endfor %}
								</div>
							</div>
						</li>
						{% if extra_siteurls %}
						<li>
							<div class="dropdown" style="margin-left: 20px;">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Languages
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									{% for lang, url in extra_siteurls.items() %}
                    <a class="dropdown-item" href="{{ (lang,output_file)|generate_url_lang }}">{{ lang|lookup_lang_name }}</a>
									{% endfor %}
								</div>
						  </div>
						</li>
						{% endif %}
						{% if LINKS %}
						<li>
							<h2>More</h2>
							<ul>
							{% for name, link in LINKS %}
              <li>
								<a class="text-light btn btn-info rounded" href="{{ link }}">{{ name }}</a>
							</li>
              {% endfor %}
							</ul>
						</li>
						{% endif %}

						{% if MSOCIAL %}
            <!-- <li> -->
              <h2>Social</h2>
  						{% for name, link, cls in MSOCIAL %}
							<!-- <ul> -->
							<a class="btn btn-info rounded"  href="{{ link }}">
								<i class="{{ cls }}"></i>
							</a>
							<!-- </ul> -->
              {% endfor %}
            <!-- </li> -->
            {% endif %}

						<!-- <li> -->
						<!--         <h2>Tags</h2> -->
						<!--         <ul> -->
						<!--         {% for tag, articles in tags %} -->
            <!--                                                     <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li> -->
            <!--                                             {% endfor %} -->
						<!--         </ul> -->
						<!-- </li> -->
						
						
					</ul>
					</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->

<div id="footer">
	<p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">CSS Templates</a>.</p>
	<p>Proudly powered by <a href="http://alexis.notmyidea.org/pelican/">pelican</a>, which takes great advantages of <a href="http://python.org">python</a>.
</p>
</div>
{% include 'analytics.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/theme/js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- end #footer -->
</body>
</html>
